body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background: #333;
 
}

#page-wrapper {
  width: 600px;
  background: #FFF;
  padding: 1em;
  margin: 1em auto;
  min-height: 300px;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);

}

h1 {
	margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

img {
  max-width: 100%;
}

#text-input {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

#fileDisplayArea {
  width: 100%;
  overflow-x: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.highlight {
    background-color: #FFFF88;
}
#word-bank{
  width: 300px;
  background: #FFF;
  padding: 1em;
  margin: 1em auto;
  min-height: 300px;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  position: fixed;
  top:0;
  overflow: scroll;
}
